.game_card_hidden {
    color: #5983a8;
}

.game_card_visible {
    color: #4a6d8b;
}

.game_card_pair {
    color: #9bde87;
}

.game_card_won {
    color: #ddde87;
}

.game_button {
    background-color: #f0f8ff;

    width: 80%;
    height: 25px;

    font-size: 18px;
    font-weight: 500;

    display: flex;

    margin: 1px;
    align-items: center;
    justify-content: center;

    transition: 200ms;
}

.game_button:hover {
    background-color: #c1c7cc;
}

.game_button:active {
    padding: 16px;
}

.game_cards_grid {
    display: grid;

    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;

    justify-items: center;
    align-items: center;
}

.game_win_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 200ms;

    margin: 5px;
}

.game_card_image {
    height: 90%;
    width: 90%;

    margin-top: 5%;
    margin-left: 5%;

    border-radius: 10px;
}

#game_section {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    align-items: center;
    font-family: 'Nunito';
    font-weight: 700;
}

#game_card {
    display:inline;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    margin: 5px;

    height: 100px;
    width: 75px;
    background-color: #f0f8ff;
    border: solid 3px;

    transition: 200ms;
}

#game_card:hover {
    background-color: #c1c7cc;
}

#card_button {
    height: 100%;
    width: 100%;

    position: fixed;

    background-color: transparent;
    border-radius: inherit;
}

#not_visible {
    height: 0px;
    color: transparent;
}

#visible {
    height: 200px;
    color: white;
}

#game_win_title {
    height: calc(100%/3);
    color: inherit;
}

#game_win_tries {
    height: calc(100%/3);
    color: inherit;
}

#game_win_precision {
    height: calc(100%/3);
    color: inherit;
}