/*@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

* {
  margin: 0px;
  border: none;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

#game_section {
  height: 330px;
  width: 100%;
  border: solid 4px #002750;
}

#main_content {
  font-family: 'Nunito';

  border: 5px solid black;
  background-color: #023e7d;

  width: 80dvh;
  height: 50dvh;
}

#welcome_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#welcome_title {
  font-size: 40px;
}

#welcome_subtitle {
  font-size: 18px;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200 1000;
  src: url(https://fonts.gstatic.com/s/nunito/v31/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}